LOCATE COMP "clk" SITE "P6";
INPUT PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "spiSck" SITE "E1";
IOBUF PORT "spiSck" IO_TYPE=LVCMOS33;

LOCATE COMP "spiMosi" SITE "C2";
IOBUF PORT "spiMosi" IO_TYPE=LVCMOS33;

LOCATE COMP "spiCsn" SITE "D1";
IOBUF PORT "spiCsn" IO_TYPE=LVCMOS33;

LOCATE COMP "encSw" SITE "T6";
IOBUF PORT "encSw" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "encDt" SITE "P7";
IOBUF PORT "encDt" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "encClk" SITE "R5";
IOBUF PORT "encClk" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "lpSw" SITE "R6";
IOBUF PORT "lpSw" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "lpDt" SITE "R4";
IOBUF PORT "lpDt" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "lpClk" SITE "T4";
IOBUF PORT "lpClk" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "hpSw" SITE "T3";
IOBUF PORT "hpSw" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "hpDt" SITE "R2";
IOBUF PORT "hpDt" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "hpClk" SITE "T2";
IOBUF PORT "hpClk" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "envSw" SITE "P2";
IOBUF PORT "envSw" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "envDt" SITE "R1";
IOBUF PORT "envDt" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "envClk" SITE "N3";
IOBUF PORT "envClk" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "squareBtn" SITE "A3";
IOBUF PORT "squareBtn" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "sawBtn" SITE "B3";
IOBUF PORT "sawBtn" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "selectBtn" SITE "R3";
IOBUF PORT "selectBtn" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "keyC" SITE "P11";
IOBUF PORT "keyC" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "keyCs" SITE "E14";
IOBUF PORT "keyCs" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "keyD" SITE "N12";
IOBUF PORT "keyD" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "keyDs" SITE "P13";
IOBUF PORT "keyDs" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "keyE" SITE "N13";
IOBUF PORT "keyE" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "keyF" SITE "P14";
IOBUF PORT "keyF" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "keyFs" SITE "M12";
IOBUF PORT "keyFs" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "keyG" SITE "M13";
IOBUF PORT "keyG" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "keyGs" SITE "L14";
IOBUF PORT "keyGs" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "keyA" SITE "L13";
IOBUF PORT "keyA" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "keyAs" SITE "K14";
IOBUF PORT "keyAs" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "keyB" SITE "K13";
IOBUF PORT "keyB" IO_TYPE=LVCMOS33 PULLMODE=UP;
